<%- include("../../header") -%>

  <div class="row d-flex justify-content-center">

    <a href="/app/organizer/create"
      class="border-bottom border-left border-right product-card cursor-pointer product-card-top-border">
      <div class="product-card-heading">Create Show</div>
      <p>You can organize the show by entering details in this form.</p>
    </a>

  </div>

  <%- include("../../footer") -%>