<%- include("header") -%>

<div class="row">

  <a href="/app/request"
    class="border-bottom border-left border-right product-card cursor-pointer product-card-top-border">
    <div class="product-card-heading">Request Form</div>
    <p>You may request your order through this form. Enter details to request your order.</p>
  </a>

  <a href="/app/user/dashboard"
    class="border-bottom border-left border-right product-card cursor-pointer product-card-top-border">
    <div class="product-card-heading">User Dashboard</div>
    <p>You can access all your orders through this dashboard.</p>
  </a>
  
</div>

<%- include("footer") -%>