<%- include("header") -%>

  <div class="row">

    <a href=""
      class="border-bottom border-left border-right product-card cursor-pointer product-card-top-border">
      <div class="product-card-heading">Request Form</div>
      <p>A place to manage your productivity. Plan your day, execute your plans and then analyze your tasks in weekly,
        daily, hourly and minutes duration.</p>

    </a>

    <a href=""
      class="border-bottom border-left border-right product-card cursor-pointer product-card-top-border">
      <div class="product-card-heading">Live Classroom</div>
      <p>All your sessions: A list of all your upcoming and previous sessions. Go back to your favourite session and
        build up the threads.</p>
    </a>

    <a href=""
      class="border-bottom border-left border-right product-card cursor-pointer product-card-top-border">
      <div class="product-card-heading">Attendance Tracker</div>
      <p>For requesting and approving leaves of your team.</p>
    </a>

    <a href=""
      class="border-bottom border-left border-right product-card cursor-pointer product-card-top-border">
      <div class="product-card-heading">Threadbuilder</div>
      <p>Create an instant Threadbuilder for taking mindful notes on-the-go </p>
    </a>

  </div>

  <%- include("footer") -%>