<%- include("header") -%>

  <div class="row">
    <a href="/deshmukhi-express/user"
      class="border-bottom col-12 col-md-4 border-left border-right product-card cursor-pointer product-card-top-border">
      <div class="product-card-heading">Continue as a user</div>
      <div class="text-left" style="font-size: 36px;">
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </div>
    </a>
    <a href="/deshmukhi-express/delivery-partner"
      class="border-bottom col-12 col-md-4 border-left border-right product-card cursor-pointer product-card-top-border">
      <div class="product-card-heading">Continue as delivery partner</div>
      <div class="text-left" style="font-size: 36px;">
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </div>
    </a>
  </div>

  <%- include("footer") -%>