<%- include("header") -%>

<div class="row">

  <a href="/deshmukhi-express"
    class="border-bottom col-12 col-md-4 col-lg-3 border-left border-right product-card cursor-pointer product-card-top-border">
    <div class="product-card-heading">Deskhmukhi Express</div>
    <p>You may request your order through this form. Enter details to request your order.</p>
  </a>

  <a href="/movies-sync"
    class="border-bottom col-12 col-md-4 col-lg-3 border-left border-right product-card cursor-pointer product-card-top-border">
    <!-- <div class="product-card-heading">MoviesSync</div>
    <p>You can access all your orders through this dashboard.</p>
  </a>

  <a href="/notes-nest"
    class="border-bottom col-12 col-md-4 col-lg-3 border-left border-right product-card cursor-pointer product-card-top-border">
    <div class="product-card-heading">NotesNest</div>
    <p>You can access all your orders through this dashboard.</p> -->
  </a>
  
</div>

<%- include("footer") -%>