<%- include("../../header") -%>

    <link rel="stylesheet" href="/stylesheets/app/main.css">

    <div class="d-flex justify-content-center">
        <h5>User Dashboard</h5>
    </div>

    <div id="order-details" class="d-flex justify-content-center flex-column align-items-center my-requests-table"></div>

    <script src="/modules/table.js"></script>
    <script src="/javascript/app/user/dashboard.js"></script>

<%- include("../../footer") -%>