<%- include("../header") -%>

<div class="container">
    <div class="row">
        <a href="/notes-nest/create"
            class="border-bottom col-12 col-md-4 col-lg-3 border-left border-right product-card cursor-pointer product-card-top-border">
            <div class="product-card-heading"><%= title %></div>
            <p>You may request your order through this form. Enter details to request your order.</p>
        </a>
    </div>
</div>

<%- include("../footer") -%>