<%- include("../header") -%>

<div class="container">
    <div class="row">
        <a href="/notes-nest/dashboard"
            class="border-bottom col-12 col-md-4 col-lg-3 border-left border-right product-card cursor-pointer product-card-top-border">
            <div class="product-card-heading">Dashboard</div>
            <p>Explore your ideas with ease! Open up your NotesNest dashboard.</p>
        </a>
        <a href="/notes-nest/create"
            class="border-bottom col-12 col-md-4 col-lg-3 border-left border-right product-card cursor-pointer product-card-top-border">
            <div class="product-card-heading">Create new</div>
            <p>Turn your ideas into notes on the Creator page! This is where your thoughts come to life.</p>
        </a>
    </div>
</div>

<%- include("../footer") -%>