.slick-prev, .slick-next {
    color: transparent!important;
    height: 30px!important;
    width: 30px!important;
}
.slick-prev:before, .slick-next:before {
    color: #000!important;
    background-color: transparent!important;
    font-size: 26px!important;
}

.slick-current .request-card {
    transform: scale(1.2);
    background-color: lightgray!important;
}
.request-card {
    background-color: #D9D0DE!important;
    height: 200px;
    margin: 20px;
}


  /* Default slide */
  .center-slider .slick-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
  }
  .center-slider .slick-slide,
  .center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
    transform: scale(0.8, 0.8);
    transition: all 0.4s ease-in-out;
  }
  
  /* Active center slide (You can change anything here for cenetr slide)*/
  .center-slider .slick-center,
  .center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
    transform: scale(1.1);
    background-color: #D9D0DE;
  }
  .center-slider .slick-current.slick-active{
    transform: scale(1.1);
    background-color: #D9D0DE;
  }
  
  .slick-next, .slick-prev{
    z-index: 5;
  }
  .slick-next{
    right: 15px;
  }
  .slick-prev{
    left: 15px;
  }
  .slick-next:before, .slick-prev:before{
    color: #000;
    font-size: 26px;
  }
  .slick-list {
    padding: 36px 60px!important;
  }