<%- include("../header") -%>
<link rel="stylesheet" href="/stylesheets/deshmukhi-express/style.css">

<div class="d-flex justify-content-center">
    <h5>Dashboard</h5>
</div>

<div class="row" id="order-details"></div>

<script src="/modules/table.js"></script>
<script src="/javascript/deshmukhi-express/dashboard.js"></script>


<%- include("../footer") -%>