<%- include("../header") -%>
<link rel="stylesheet" href="/stylesheets/deshmukhi-express/style.css">

<div class="d-flex pt-4 justify-content-center">
    <h5>Dashboard</h5>
</div>



<ul class="nav nav-pills my-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link btn active px-5" id="pills-home-tab" data-toggle="pill" data-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">All New orders</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link btn px-5" id="pills-profile-tab" data-toggle="pill" data-target="#pills-profile"
            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Orders accepted by me</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10" id="order-details"></div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10" id="accepted-order-details"></div>
        </div>
    </div>
</div>

<div id="user" data-user="<%= JSON.stringify(user) %>"></div>

<script src="/modules/table.js"></script>
<script src="/javascript/deshmukhi-express/delivery-partner.js"></script>


<%- include("../footer") -%>