<%- include("../header") -%>

<div class="container">
    <div class="row">
        <a href="/deshmukhi-express/dashboard"
            class="border-bottom col-12 col-md-4 col-lg-3 border-left border-right product-card cursor-pointer product-card-top-border">
            <div class="product-card-heading">Dashboard</div>
            <p>Track your flavor journey with ease! Revisit your culinary adventures, one order at a time, on the dashboard.</p>
        </a>
        <a href="/deshmukhi-express/create"
            class="border-bottom col-12 col-md-4 col-lg-3 border-left border-right product-card cursor-pointer product-card-top-border">
            <div class="product-card-heading">New Request</div>
            <p>You may request your order through this form. Enter details to request your order.</p>
        </a>
    </div>
</div>

<%- include("../footer") -%>